{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true, 
	"embeddedLanguageFormatting": "auto", 
	"htmlWhitespaceSensitivity": "css", 
	"insertPragma": false, 
	"jsxSingleQuote": true, 
	"jsxBracketSemiLine": false,
	"printWidth": 70, 
	"proseWrap": "always", 
	"quoteProps": "as-needed", 
	"semi": true, 
	"singleAttributePerLine": true, 
	"singleQuote": true, 
	"tabWidth": 2, 
	"trailingComma": "es5", 
	"useTabs": false,
	"requirePragma": false
}